.menu {

	// .menu__icon
	&__icon {}

	// .menu__body
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 0;
			overflow: auto;
			padding: toRem(50) toRem(15) toRem(315) toRem(15);
			transition: left 0.3s;
			background-color: $bg;

			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: toRem(50);
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
				background-color: $dark;
			}

			.menu-open & {
				left: 0;

				&::before {
					left: 0;
				}
			}
		}
	}

	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;

		@media (max-width: $tablet) {
			display: block;
		}
	}

	// .menu__item
	&__item {}

	// .menu__link
	&__link {
		color: $white;
		@include adaptiveValue("font-size", 16, 12, 0, 1920, 992);
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
		display: inline-block;
		padding: 14px;

		@media (any-hover: hover) {
			&:hover {
				background-color: $bg-Menu;
				;
			}
		}

		@media (max-width: $mobile) {
			font-size: toRem(16);
		}
	}
}

//Burger Icon
.icon-menu {
	display: none;

	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: $white;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - toRem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}