.page {
	padding-left: $sidebar-width;
	padding-top: toRem(100);

	@media (max-width: 630px) {
		padding-left: 0;
	}
}

.sidebar {
	width: $sidebar-width;
	background: $bg-siteBar;
	box-shadow: 5px 0px 15px 0px rgba(5, 5, 5, 0.10);
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	@media (max-width: 630px) {
		position: relative;
	}

	/* .sidebar__image */
	&__image {
		& img {
			max-width: 100%;
		}
	}

	/* .sidebar__top */
	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;
		margin-top: -50px;
	}

	/* .sidebar__logo */
	&__logo {
		width: 100px;
		height: 100px;
		border-radius: 50%;

		& img {
			max-width: 100%;
			border-radius: 50%;
		}
	}

	/* .sidebar__title */
	&__title {
		text-align: center;
		margin-top: 19px;
	}

	/* .sidebar__subtitle */
	&__subtitle {
		color: #DEDEDE;
		text-align: center;
		font-style: normal;
		font-weight: 300;
		line-height: normal;
		margin-top: 5px;
	}

	&__icons {
		margin-top: 20px;
		display: flex;
		gap: 15px;
	}

	&__slogan {
		border-top: 2px solid $dark-hr;
		max-width: 270px;
		margin: 0px auto;
		padding-top: 30px;
	}

	&__buttons {
		margin-top: 60px;
		display: flex;
		justify-content: center;
		gap: 20px;
	}
}



//====================================================================================================
.storis {
	margin: 0 auto;
	max-width: 700px;

	/* .storis__items */
	&__items {
		display: flex;
		gap: 20px;
		position: relative;
		overflow: auto;
		width: 100%;
	}

	/* .storis__item */
	&__item {
		border-radius: 5px;
		max-width: 150px;
		min-width: 145px;
		overflow: hidden;
		height: 195px;
		position: relative;
	}

	/* .storis__img */
	&__img {}

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 52.08%, rgba(0, 0, 0, 0.41) 76.41%, rgba(0, 0, 0, 0.80) 100%);
		box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
	}

	/* .storis__title */
	&__title {
		position: absolute;
		top: 14px;
		left: 14px;
		right: 14px;
	}

	/* .storis__date */
	&__date {
		position: absolute;
		right: 12px;
		bottom: 12px;
	}
}



//====================================================================================================